.App {
  text-align: left;
  position: relative;
  width: 100%;
  flex-grow: 1;
  height: 100%;
  background-color: #21232b;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Account {
  position: absolute;
  padding-left: 1em;
  padding-bottom: 5em;
}
.BriefAbout {
  position: absolute;
  padding-left: 1em;
  padding-bottom: 3em;
  font-size: medium;
}

.App-header {
  position: relative;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: medium;
  position: absolute;
  padding-bottom: 0em;
  padding-left: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TabContainer{
  position: fixed;
  width: 100%;
}
